# Supabase Database Password / Secrets
supabaseonemlibilgilernot.txt

# Local OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables & secrets
.env
.env*.local

# Node dependencies
node_modules/

# Vercel cache and build output
.vercel/

.vercel
.env*
